@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
	--soft-orange: hsl(35, 77%, 62%);
	--soft-red: hsl(5, 85%, 63%);

	--off-white: hsl(36, 100%, 99%);
	--grayish-blue: hsl(233, 8%, 79%);
	--dark-grayishblue: hsl(236, 13%, 42%);
	--very-dark-blue: hsl(240, 100%, 5%);

	--ff-inter: "Inter", sans-serif;

	--fw-300: 300;
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;
	--fw-800: 800;

	--fs-300: 0.75rem;
	--fs-400: 0.9rem;
	--fs-500: 1rem;
	--fs-600: 1.15rem;
	--fs-700: 1.25rem;
	--fs-800: 1.75rem;
	--fs-900: 2.35rem;

	--section-height: 42rem;
	--padding-container: 9.5rem;

	--gap: 1em;
}

/*--------------------------*/
/*  Reset                   */
/*--------------------------*/

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	background-color: var(--off-white);
	color: var(--very-dark-blue);
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-family: var(--ff-inter);
	font-size: 18px;
	font-weight: var(--fw-500);
	overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
svg,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/*-------------------------------*/
/*  General 		 			*/
/*------------------------------*/

.d-none {
	display: none;
}

.text-grayish-blue {
	color: var(--grayish-blue);
}
.section-padding-block-start {
	margin-block-start: 1.5em;
}

.body-container {
	padding-block-start: 1em;
	padding-inline: 1em;
	margin: auto;
	max-width: 1440px;
}

/*-------------------------------*/
/*  Grid Area Setup 			*/
/*------------------------------*/

.grid {
	display: grid;
	grid-auto-columns: 1fr;
	gap: var(--gap);
	align-content: center;

	grid-template-areas:
		"one"
		"two"
		"three"
		"four"
		"five";
}

.header-section {
	grid-area: one;
}
.hero-section {
	grid-area: two;
	background-image: url(assets/images/image-web-3-mobile.jpg);
}
.bright-future-section {
	grid-area: three;
}
.new-section {
	grid-area: four;
}
.blog-section {
	grid-area: five;
}

/*-------------------------------*/
/*  Header		 Section		*/
/*------------------------------*/

.header-section {
	padding-block: 0.75em;
}

.logo > img {
	max-width: 48px;
}
.logo:hover {
	cursor: pointer;

	filter: invert(41%) sepia(72%) saturate(2716%) hue-rotate(336deg)
		brightness(117%) contrast(89%);
}
/*-------------------------------*/
/*  Navigation Bar				*/
/*------------------------------*/
.btn {
	position: relative;
	z-index: 10000;
}

.btn:hover {
	cursor: pointer;

	filter: invert(41%) sepia(72%) saturate(2716%) hue-rotate(336deg)
		brightness(117%) contrast(89%);
}

.btn > img {
	width: 100%;
}

.toggle-btn {
	display: none;
}

.icon-btn {
	display: none;
}
.closed-btn {
	display: none;
	max-width: 30px;
	max-height: 31px;
}

.btn input {
	position: absolute;
	inset: 0;
	transform: translateY(-40%);
	appearance: none;
	cursor: pointer;
}
.primary-navigation {
	display: flex;
	justify-content: end;
	--gap: 3em;
	gap: var(--gap);
}

.link {
	list-style: none;
}

.link > a {
	text-decoration: none;
	color: var(--dark-grayishblue);
	font-size: var(--fs-600);
}
.link > a:hover {
	color: var(--soft-red);
}

/*-------------------------------*/
/*  Bright-future Section		*/
/*------------------------------*/

.bright-future-title {
	font-size: var(--fs-900);
	font-weight: var(--fw-800);
	line-height: 1.25em;
}
.bright-future-text {
	color: var(--very-dark-blue);
	font-size: var(--fs-400);
	line-height: 1.75em;
}
.bright-future-button {
	margin-block-start: 1.5em;
	outline: none;
	border: 0;
	padding-inline: 1.75em;
	padding-block: 0.85em;
	background-color: var(--soft-red);
	color: var(--off-white);
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-size: var(--fs-300);
	font-weight: var(--fw-600);
}

.bright-future-button:hover {
	background-color: var(--very-dark-blue);
	cursor: pointer;
}

/*-------------------------------*/
/*  New	 Section				*/
/*------------------------------*/
.new-section {
	background-color: var(--very-dark-blue);
	padding: 2em;
	height: 100%;
	display: grid;
	align-content: center;
}
.new-heading {
	color: var(--soft-orange);
	font-size: var(--fs-800);
	margin-block-end: 1em;
}
.new-title > a {
	font-size: var(--fs-500);
	font-weight: var(--fw-600);
	line-height: 1em;
	color: var(--off-white);
	letter-spacing: 0.02em;
	margin-block-end: 0.5em;
	text-decoration: none;
}

.new-title > a:hover {
	color: var(--soft-orange);
}

.new-text {
	color: var(--grayish-blue);
	font-size: var(--fs-400);
	line-height: 1.75em;
	text-align: left;
}

.horizential-line {
	border-bottom: 0.065rem solid var(--dark-grayishblue);
	margin-block: 1.5em;
}

/*-------------------------------*/
/*  Blog Section				*/
/*------------------------------*/

.blog-section {
	display: grid;
	padding-block-end: 2em;
	/* --gap: 0.75em; */
	gap: var(--gap);
}
.blog {
	display: flex;
	width: 90%;
}

.blog-content-section {
	display: grid;
	align-items: center;
	justify-content: start;
	margin-inline-start: 1em;
}
.thumbnail {
	width: 100px;
	height: auto;
}
.bullet-number {
	color: var(--grayish-blue);
	font-size: var(--fs-800);
	font-weight: var(--fw-600);
}
.blog-title > a {
	font-size: var(--fs-600);
	font-weight: var(--fw-800);
	color: var(--very-dark-blue);
	line-height: 1.3em;
	margin-block-end: 0.5em;
	text-decoration: none;
}

.blog-title > a:hover {
	color: var(--soft-red);
}
.blog-text {
	font-size: var(--fs-400);
	line-height: 1.5em;
	text-align: left;
	color: var(--grayish-blue);
}

/*-------------------------------*/
/*  Responsive Media Qureries   */
/*------------------------------*/

@media screen and (max-width: 749px) {
	/*-------------------------------*/
	/*  Header Section				*/
	/*------------------------------*/

	.header-aligned {
		display: grid;
		grid-template-columns: 1fr 48px;
		justify-content: end;
		align-items: center;
	}
	/*-------------------------------*/
	/*  Hero Section				*/
	/*------------------------------*/

	.hero-section {
		background-image: url(assets/images/image-web-3-mobile.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 300px;
	}

	/*-------------------------------*/
	/*  Navigation					*/
	/*------------------------------*/
	.toggle-btn {
		display: block;
	}

	.icon-btn {
		display: block;
	}
	.header-section:has(input:checked) .closed-btn {
		display: block;
	}

	.header-section:has(input:checked) .icon-btn {
		display: none;
	}

	.primary-navigation {
		display: none;
		position: fixed;
		z-index: 1000;
		inset: 0 0 0 40%;
		background-color: var(--off-white);
		flex-direction: column;
		--gap: 1.5em;
		gap: --gap;
		padding: min(15rem, 20vh) 2rem;
		margin: 0;
	}

	.header-section:has(input:checked) .primary-navigation {
		display: flex;
	}
	.section-padding-block-start {
		margin-block-start: 0;
	}
}

@media screen and (min-width: 750px) {
	/*-------------------------------*/
	/*  Grid areas setup			*/
	/*------------------------------*/

	.grid {
		grid-template-areas:
			"one one one"
			"two two three"
			"four four four"
			"five five five";

		gap: var(--gap);
	}

	/*-------------------------------*/
	/*  Header Section				*/
	/*------------------------------*/
	.header-aligned {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: end;
		align-items: center;
	}

	/*-------------------------------*/
	/*  Hero Section				*/
	/*------------------------------*/

	.hero-section {
		background-image: url(assets/images/image-web-3-mobile.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		height: 100%;
	}

	/*-------------------------------*/
	/*  Bright-future Section		*/
	/*------------------------------*/

	.bright-future-section {
		display: grid;
		grid-template-columns: 1fr;
		justify-content: space-between;
		align-items: center;
	}

	.bright-future-title {
		font-size: var(--fs-800);
		font-weight: var(--fw-800);
		line-height: 1.25em;
	}

	.bright-future-title,
	.bright-future-text {
		padding-inline: 0.75rem;
	}
	.bright-future-button {
		margin-inline-start: 0.75rem;
	}

	/*-------------------------------*/
	/*  Blog Section		*/
	/*------------------------------*/

	.blog-section {
		grid-template-columns: 1fr 1fr;
		gap: var(--gap);
	}
}

@media screen and (min-width: 1024px) {
	/*-------------------------------*/
	/*  General						*/
	/*------------------------------*/

	.body-container {
		padding-block-start: 2em;
	}

	/*-------------------------------*/
	/*  Grid areas setup			*/
	/*------------------------------*/

	.grid {
		grid-template-areas:
			"one one one"
			"two two four"
			"three three four"
			"five five five";
	}

	/*-------------------------------*/
	/*  Hero Section				*/
	/*------------------------------*/

	.hero-section {
		background-image: url(assets/images/image-web-3-desktop.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 300px;
	}

	/*-------------------------------*/
	/*  Bright-future Section		*/
	/*------------------------------*/

	.bright-future-section {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		/* gap: var(--gap); */
		justify-content: space-between;
		align-items: center;
	}

	.bright-future-title {
		font-size: var(--fs-900);
		font-weight: var(--fw-800);
		line-height: 1.25em;
		padding-inline-end: 1.75em;
		letter-spacing: 0.025em;
	}

	/*-------------------------------*/
	/*  Blog Section		*/
	/*------------------------------*/

	.blog-section {
		grid-template-columns: repeat(3, 1fr);
		gap: var(--gap);
	}
}
